
<!DOCTYPE html>
<html>
<head>
  <title>Find Parking</title>

  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>


  {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static "polls/_css/HotSpot.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "polls/_css/find_parking.css" %}">
      <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
      <meta charset="utf-8">
</head>

<body>
  <div class="all_site">
      <header>
          <div class="logo">
    {% load static %}
                <img src="{% static "_images/cars.jpg" %}" height="49"/>          
          </div>  
          <nav>
              <ul>
                  <a href="{% url 'polls:call_history' %}"><li>My History</li></a>
                  <a href="{% url 'polls:homepage' %}"><li>Home Page</li></a>
              </ul>
          </nav>
      
          <!-- background picture define in find_parking.css -->
          <div class="back"></div>
          <div id="floating-panel">
    <input id="address" type="textbox" value="Tel Aviv">
    <input id="find_parking" type="button" value="Find Parking"><br>
    <input id="radius" type="textbox" value="100"><font color="white"> meters</font><br>
    <select id='minutes' name = 'minutes'> +
      <option value=5 SELECTED >5 min</option>
      <option value=10>10 min</option>
      <option value=15>15 min</option>
      <option value=20>20 min</option>
      <option value=25>25 min</option>
      <option value=30>30 min</option>

    </select>




            </div>

                <!-- the map windoe --> 
             <div id="map"></div>
                    

                    </header>
                

      <form name="form" id="form" method="post" action="{% url 'polls:find_new_parking'  %}" >
        {% csrf_token %}
        <table>
        <tr><td><input type='hidden' name ='parking_id' id='parking_id' readonly="true" /> </td> </tr>  
        <tr><td><input type='hidden' name ='target_address_lat' id='target_address_lat'/> </td> </tr>
        <tr><td><input type='hidden' name ='target_address_lng' id='target_address_lng'/> </td> </tr>
       
        <tr><td><input name ='parking_address' id='parking_address'/> </td> </tr>
        <tr><td><input name ='parking_time' id='parking_time'/> </td> </tr>
        <tr><td><input name ='seller_name' id='seller_name'/> </td> </tr>
        <tr><td><input name ='seller_rating' id='seller_rating'/> </td> </tr>

       
        <tr><td></td><td><input name ='submit' id='submit' type='submit' value='Submit'></td></tr> 
        </table>
      </form>
    

    <script>

        document.getElementById('parking_time').style.visibility = "hidden";
        document.getElementById('seller_name').style.visibility = "hidden";
        document.getElementById('seller_rating').style.visibility = "hidden";
        document.getElementById('parking_address').style.visibility = "hidden";
        document.getElementById('submit').style.visibility = "hidden";

            var rel_park;
            var free_rel_park;
            var map;

            function update_spots_on_map(lat, lng, radius, minutes) {

                  

                
                var a = $.ajax({
                  type: "POST",
                  url:"/update_spots_on_map/",
                  data: { 'csrfmiddlewaretoken': '{{csrf_token}}', 'lat':target_lat, 'lng':target_lng, 'radius':radius, 'minutes':minutes }, 
                        dataType: 'json',
                  async: false,
                        success : function(data) {
                              rel_park = data.relevant_parkings
                              free_rel_park = JSON.parse(data.relevant_free_parkings)
                              
                        },
                  error : function(data) {
                    alert("fail to update spots on map");
                  }     
            
              
                } );
            }

            function initMap(){
                //map options
                var markerMe;
                var infoWindowMe = new google.maps.InfoWindow({
                });
                var mapCanvas = document.getElementById("map");
                var myCenter = new google.maps.LatLng(32.121678, 34.793143);
                var mapOptions = {center: myCenter, zoom: 14};
            
                //new map
                map = new google.maps.Map(mapCanvas,mapOptions);
                
                var geocoder = new google.maps.Geocoder();
                document.getElementById('find_parking').addEventListener('click', function() {

                  geocodeAddress(geocoder, map);

                });



                // Array off markers- Parking spaces published
                //TODO: how to get coords from database  
                // var markers = [
                //     {
                //         coords:{lat:32.121678, lng:34.873},
                //         content : '<h1>Adam sendler rating:269</h1>'
                //     },
                //     {
                //         coords:myCenter,
                //         content : '<h1>the center of the map</h1>'
                //     }
                // ]; 

                
                
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function(position) {
                      var pos = {
                      lat: position.coords.latitude,
                      lng: position.coords.longitude
                      };
 
                      //infoWindowMe.setPosition(pos);
                      //infoWindowMe.setContent('Me');
                      //infoWindowMe.open(map);

        var meimage ={ 
                    url:'https://furtaev.ru/preview/current_location_map_pointer.png',
                    scaledSize: new google.maps.Size(50, 50), // scaled size
                    origin: new google.maps.Point(0,0), // origin
                    anchor: new google.maps.Point(0, 0) // anchor
             
                }   
    var new_marker = new google.maps.Marker({
                position: pos,
                map:map,    
                icon: meimage
                });

                      map.setCenter(pos);
                  }, function() {
                      handleLocationError(true, infoWindowMe, map.getCenter());
                  });
                } else {
                // Browser doesn't support Geolocation
                handleLocationError(false, infoWindowMe, map.getCenter());
                }
            } // End initMap function

      //    var new_infoWindow;

            //add marker function
            function addParkingMarker(parking, parking_type){
        
                seller_user = parking.fields.user
                var latFloat = parseFloat(parking.fields.parking_address_lat);
                var lngFloat = parseFloat(parking.fields.parking_address_lng);
            var imageFree ={ 
                    url:'http://www.clker.com/cliparts/q/I/Q/u/Z/1/marker-hi.png',
                    scaledSize: new google.maps.Size(30, 50), // scaled size
                    origin: new google.maps.Point(0,0), // origin
                    anchor: new google.maps.Point(0, 0) // anchor
             
                }
                var imagePur = {
                    url:'https://maxcdn.icons8.com/Share/icon/Maps//marker1600.png',
                    scaledSize: new google.maps.Size(50, 50), // scaled size
                    origin: new google.maps.Point(0,0), // origin
                    anchor: new google.maps.Point(0, 0) // anchor
             
                }
    
                coords = { lat:latFloat, lng:lngFloat}
                var i;
                var c;
                alert("type= " + parking_type);
                if (parking_type == "FreeSpot") {

                    report_time = parking.fields.last_report_time
                    parking_address =  parking.fields.parking_address
                    i = imageFree;
                    c = '<h3><b>'+parking_address+'</h3><h4>'+report_time+'</h4></p>';
                    alert("messi");
                }
                else{
                  alert("No free spot");
                    i = imagePur;
                    c = document.getElementById('form');
                }
                alert("c= " + c);
                var new_marker = new google.maps.Marker({
                  position: coords,
                  map:map,    
                  icon: i
                });

                var new_infoWindow = new google.maps.InfoWindow({
                    content: c

                });


                new_marker.addListener('click', function() {

            new_infoWindow.open(map, new_marker);
        document.getElementById('parking_id').value = parking.pk;
      document.getElementById('parking_id').style.visibility = "hidden";

      parking_address = parking.fields.parking_address;
      parking_time = parking.fields.parking_time;
      seller_name = parking.fields.seller_name;
      seller_rating = parking.fields.seller_rating;

      document.getElementById('parking_address').value = "Address: "+parking_address;
      document.getElementById('parking_time').value = "Time: "+parking_time;
      document.getElementById('seller_name').value = "Seller Name: "+seller_name;
      document.getElementById('seller_rating').value = "Seller Rating: "+seller_rating;

      if (parking_type == "FreeSpot") {
        document.getElementById('parking_time').style.visibility = "hidden";
        document.getElementById('seller_name').style.visibility = "hidden";
        document.getElementById('seller_rating').style.visibility = "hidden";
        document.getElementById('parking_address').style.visibility = "visible";
        document.getElementById('submit').style.visibility = "hidden";


      } else {
        document.getElementById('parking_address').style.visibility = "visible";
        document.getElementById('parking_time').style.visibility = "visible";
        document.getElementById('seller_name').style.visibility = "visible";
        document.getElementById('seller_rating').style.visibility = "visible";
        document.getElementById('submit').style.visibility = "visible";


      }


                setTimeout(function () { new_infoWindow.close(); }, 5000);
          }); 

                
            } // End addParkingMarker
            var points = '{{request.user.profile.points}}';
            var parking_price = 10;
            function myFunction() {
              if (points < parking_price) {
                  alert("Sorry dude, you don't have enough points");
                  
              }

              
            }

            var target_lat;
            var target_lng;
                                      
            function geocodeAddress(geocoder, resultsMap) {
               // target_lat = '';
               // target_lng = '';
                var address = document.getElementById('address').value;
                var radius = document.getElementById('radius').value;
                var minutes = document.getElementById('minutes').value;
                  geocoder.geocode({'address': address}, function(results, status) {
                                  if (status === 'OK') {
                                      console.log("1");
                                      var location = results[0].geometry.location;
                                            resultsMap.setCenter(location);

                                      target_lat = location.lat();
                                      target_lng = location.lng();


                                      console.log("2");
                                      update_spots_on_map(target_lat, target_lng, radius, minutes);

                                      document.getElementById("target_address_lat").value = target_lat;
                                      document.getElementById("target_address_lat").style.visibility = "hidden";

                                      document.getElementById("target_address_lng").value = target_lng;
                                      document.getElementById("target_address_lng").style.visibility = "hidden";


                                      console.log("3");
                                      //loop to add -markers
          alert ("rel_park.length = "+rel_park.length);
                                      for(var i = 0;i < rel_park.length;i++){
                                          
                                          addParkingMarker(rel_park[i], "Purchase");
                                          console.log(rel_park[i]);
                                      }
                                      console.log("4");
                                      //loop to add -markers
          alert ("free rel_park.length = "+free_rel_park.length);
                                      for(var i = 0;i < free_rel_park.length;i++){
                                          addParkingMarker(free_rel_park[i], "FreeSpot");
                                      }
                                      console.log("5");
                                      

                                            // var marker = new google.maps.Marker({
                                            // map: resultsMap,
                                            //position: results[0].geometry.location
                                            //});
                                  } else {
                                    alert('Geocode was not successful for the following reason: ' + status);
                                  }
                            });
                } // End geocodeAddress
                function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                    infoWindow.setPosition(pos);
                    infoWindow.setContent(browserHasGeolocation ?
                                        'Error: The Geolocation service failed.' :
                                        'Error: Your browser doesn\'t support geolocation.');
                    infoWindow.open(map);
                } // End handleLocationError
      </script>
      
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAIn9K5Niimp_WDiNC8ckPUcKdi_RxYLHM&language=en&callback=initMap"></script>
                        
        <!--<footer>
            find your spot
        </footer> -->  
        <p class="clear"></p>  

    </div>  
</body>
</html>