
<!DOCTYPE html>
<html>
<head>
  <title>Find Parking</title>

  <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.min.js"></script>



  {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static "polls/_css/HotSpot.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "polls/_css/find_parking.css" %}">
      <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
      <meta charset="utf-8">

	<style>

      html, body, #googleMap {
        height: 100%;
        margin: 0px;
        padding: 0px
      }

	</style>

</head>

<body>
  <div class="all_site">
      <header>
          <div class="logo">
    {% load static %}
                <img src="{% static "_images/cars.jpg" %}" height="49"/>          
          </div>  
          <nav>
              <ul>
                  <a href="{% url 'polls:call_history' %}"><li>My History</li></a>
                  <a href="{% url 'polls:homepage' %}"><li>Home Page</li></a>
              </ul>
          </nav>
      
          <!-- background picture define in find_parking.css -->


                <!-- the map windoe --> 
          <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization"></script>


    <div id="googleMap"></div>


                    

                    </header>





    <script>


  var MIN_NO_ACC = 0;
  var MAX_NO_ACC = 1;
function initialize() {
    geocoder = new google.maps.Geocoder();
  var mapProp = {
    center:new google.maps.LatLng(32.109333, 34.855499),
    zoom:11,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);



	var latlng = {lat: parseFloat(32.109333), lng: parseFloat(34.855499)};
	codeAddress(latlng, 0); // 1 - red. 0- green.

	latlng = {lat: parseFloat(32.109333), lng: parseFloat(34.858)};
	codeAddress(latlng, 1);
	//codeAddress("10003", 4110);
	//codeAddress("1000432.109333, 34.855499.", 899);
	//codeAddress("10005", 520);
	//codeAddress("10006", 599);




   function codeAddress(latlng, noAccidents) {
	//alert(latlng);
    //var address = document.getElementById("address").value;
geocoder.geocode( { 'location': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);

        var hotSpot = results[0].geometry.location;
        console.log(hotSpot + " " + noAccidents);

        var heatMapZip = [
        {location: hotSpot, weight: noAccidents}

        ];

       var color =[
            "#ff0000",
            "#00ff00"
        ];

        var heatmap = new google.maps.visualization.HeatmapLayer({
          data: heatMapZip,
          radius: 30,
          dissapating: false
        });
          
        var rate = noAccidents;
          console.log(rate);
        var gradient = [
            'rgba('+Math.round(255*rate)+', '+Math.round(255*(1-rate))+', 0, 0)',
            'rgba('+Math.round(255*rate)+', '+Math.round(255*(1-rate))+', 0, 1)'];
        heatmap.set('gradient', gradient);
        heatmap.setMap(map);

      } else {
        alert("Geocode was not successful for the following reason: " + status);
      }
    });
  }


}

google.maps.event.addDomListener(window, 'load', initialize);
      </script>
      


    </div>  
</body>
</html>
