<!DOCTYPE html>
<html>

<head>
  <!-- <meta charset="UTF-8"> -->
	<title>History</title>
	
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
    .checked {
        color: orange;
        z-index: 5;
    }
    </style>


</head>

<body>

    <div class="all_site">
        <header>
            <div class="logo">

                <img src="{% static "_images/cars.jpg" %}" height="49"/>          
            </div>
            <nav>
                <ul>

                    <li>{{request.user.username}}</li>
                    <li>{{request.user.profile.points}} points</li>
                    <li>{{request.user.profile.rating}}</li>



                    <a href="{% url 'polls:homepage' %}"><li>Home Page</li></a>
                    <a href="{% url 'polls:call_last_activity' %}"><li>Last Activity</li></a>
                    <a href="{% url 'polls:call_history' %}"><li>My History</li></a>
                    <a href="{% url 'polls:logout' %}"><li>Log Out</li></a>

                </ul>
            </nav>
            <div class="head_pic">
                    <div class="main">
                        <div class="box_txt">
                            <h1>HotSpot Israel</h1>
                        </div>
                    </div>
            </div>
        </header>

      <div class = "pull-right">
        <span id="star1" class="fa fa-star"></span>
        <span id="star2" class="fa fa-star"></span>
        <span id="star3" class="fa fa-star"></span>
        <span id="star4" class="fa fa-star"></span>
        <span id="star5" class="fa fa-star"></span>
      </div>


	<div class="all_site">
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static "polls/_css/History.css" %}">
    
     
    <div class="body">
        <header>
            <div class="logo">
                <img src="{% static "_images/cars.jpg" %}" height="49"/>          
            </div>
            <nav>
                <ul>
                    <a href="{% url 'polls:homepage' %}"><li>Homepage</li></a>
                    <a href="{% url 'polls:logout' %}"><li>Log Out</li></a>  
                    <!-- TODO GO BACK TO THE LAST PAGE   -->
                </ul>
            </nav>
        </header>  	
  <h2>History</h2>
  <div class = "pull-right">
	<span class="fa fa-star checked"></span>
	<span class="fa fa-star checked"></span>
	<span class="fa fa-star checked"></span>
	<span class="fa fa-star"></span>
	<span class="fa fa-star"></span>
  </div>
  <p></p>         
  <table class="table table-dark">
    <thead>
      <tr>

	<th>Type</th>
	<th>Address</th>
	<th>Date&Time</th>
	<th>Buyer</th>
	<th>Seller</th>
	<th>Status</th>

      </tr>
    </thead>
    <tbody>

	{% for row in history_as_table %}
      		<tr>
        		<td>{{row.0}}</td>
        		<td>{{row.1}}</td>
        		<td>{{row.2}}</td>
        		<td>{{row.3}}</td>
        		<td>{{row.4}}</td>
        		<td>{{row.5}}</td>
      		</tr>      
 	{% endfor %}
    </tbody>
  </table>
</div>

<script type="text/javascript">
  
    var user_rating = '{{request.user.profile.rating}}';
    console.log(user_rating);
    for(var i=1; i<=user_rating; i++){
        console.log(i);
        document.getElementById("star"+i).classList.add('checked');


    }

  
</script>


</body>


<footer>
	<p>Find your spot</p>
</footer>

</html>
