<!DOCTYPE html>
<html>
 {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "polls/_css/logo.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "polls/_css/history.css" %}">

<head>
  <!-- <meta charset="UTF-8"> -->
	<title>Last Activity</title>
	
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
 
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
    <style>
    .checked {
        color: orange;
        z-index: 5;
    }
    </style>

</head>

<body>

	<div class="all_site">
        <div class="cover">
			<header>
				<div class="logo">

					<img src="{% static "polls/_images/cars.jpg" %}" height="49"/>          
				</div>
				<pro>
					
					<li>{{request.user.username}}</li>
					<li>{{request.user.profile.points}} points</li>
				
					
						<span id="star1" class="fa fa-star"></span>
						<span id="star2" class="fa fa-star"></span>
						<span id="star3" class="fa fa-star"></span>
						<span id="star4" class="fa fa-star"></span>
						<span id="star5" class="fa fa-star"></span>
					
				</pro>
				<nav>
					<ur>
						<a href="{% url 'polls:logout' %}"><li>Log Out</li></a>                    
						<a href="{% url 'polls:call_history' %}"><li><col>My History </col></li></a>
						<a href="{% url 'polls:call_last_activity' %}"><li>Last Activity</li></a>
						<a href="{% url 'polls:homepage' %}"><li>Home Page</li></a>
					</ur>
				</nav>
			
				<div class="main">
					<div class="box_txt">
						<div><h1>Last<span>Activity</span></h1></div> 
					</div>
				</div>
			
			</header>

			<p></p>         
			<table class="table table-dark">
				<thead>
				<tr>

				<th>Buyer</th>
				<th>Seller</th>
				<th>Date&Time</th>
				<th>Status</th>
				<th>Address</th>
				<th>Contact</th>
				<th>Pincode</th>

				</tr>
				</thead>
				<tbody>

					<tr>
						<td id="buyer">{{last_activity.0}}</td>
						<td id="seller">{{last_activity.1}}</td>
						<td id="date">{{last_activity.2}}</td>
						<td id="status">{{last_activity.3}}</td>
						<td id="address">{{last_activity.4}}</td>
						<td id="contact">{{last_activity.5}}</td>
						<td id="pincode">{{last_activity.6}}</td>
					</tr>      

			    </tbody>
			</table>

	<div class="buttons">
			<button type="button" id ='pincode_button' onclick = showButton() >Enter Pincode</button>
			<input type="text" name ='pincode_text' id='pincode_text'/><button onclick = autPincode() type="button" name='aut_pincode' id='aut_pincode'>submit
			</button>
		





			<button type="button" id="cancel_button" title="Cancel transaction" onclick = cancelPurchase() >Cancel</button>



			<button type="button" id="report_button" title="Report other user didn't show up" onclick = reportPurchase() >Report</button>

		</div>

		</div>
        <footer>

				<p>HotSpot -  find your spot</p>
        </footer>
    </div>



<script>

	window.onload = function() {

		var purchase_id = '{{last_activity.7}}';

		var pincode_text = document.getElementById('pincode_text');
		pincode_text.style.visibility = "hidden";

		var aut_pincode = document.getElementById('aut_pincode');
		aut_pincode.style.visibility = "hidden";


		var status = document.getElementById('status').innerHTML;

		if (status == "done" || status == "canceled" || status == "expired"){

			var cancle_button = document.getElementById('cancel_button');
			cancle_button.style.visibility = "hidden";

			var report_button = document.getElementById('report_button');
			report_button.style.visibility = "hidden";

		}



		var pincode_button = document.getElementById('pincode_button');


		var buyer_name = '{{last_activity.0}}';

		if  (buyer_name =="Me"){ // buyer shoul not enter pincode
			pincode_button.style.visibility = "hidden";
		}

		var pincode = document.getElementById('pincode').innerHTML;

		if (pincode == "" ){//in seller
			if (status != "in process"){

				pincode_button.style.visibility = "hidden";
			}

		}
	};



	function reportPurchase(){

		var purchase_id = '{{last_activity.7}}';
		var pos;

		 if (navigator.geolocation) {
	        navigator.geolocation.getCurrentPosition(function(position) {
	          pos = {
	            lat: position.coords.latitude,
	            lng: position.coords.longitude
	          };

	       		console.log("pos = "+pos);
	          	console.log("pos.lat = "+pos.lat);


						var current_url  = "/parking_complaint/";
					
						alert(pos.lng);
						$.ajax({
							type: "POST",

							url:current_url,
					
							data: { 'csrfmiddlewaretoken': '{{csrf_token}}', 'purchase_id':purchase_id, 'lat':pos.lat, 'lng':pos.lng}, 
							dataType: 'json',
							async: false,
							success : function(data) {
								alert(data.msg)
						
								document.getElementById('status').innerHTML = data.status_to_display;

								if (data.status == "reported" || data.status == "abort"){
									var report_button = document.getElementById('report_button');
									report_button.style.visibility = "hidden";
								}


							},
							error : function(data) {
								alert("report failed");
							}			
						} );


		      });

		          
	        } else {
		        alert("failed to get location");
		        return;
	        }


	}





	function cancelPurchase(){

		var purchase_id = '{{last_activity.7}}';

		if ('{{last_activity.1}}' == "Me"){
			var current_url  = "/seller_cancel_parking/"
		} else {
			var current_url  = "/buyer_cancel_parking/"
		}

		$.ajax({
			type: "POST",

			url:current_url,
	
			data: { 'csrfmiddlewaretoken': '{{csrf_token}}', 'purchase_id':purchase_id}, 
			dataType: 'json',
			async: false,
			success : function(data) {
				alert(data.msg)
		
				document.getElementById('status').innerHTML = "canceled";

				var cancle_button = document.getElementById('cancel_button');
				cancle_button.style.visibility = "hidden";

			},
			error : function(data) {
				alert("cancel failed");
			}			
		} );
	}

	function showButton(){

		var pincode_text = document.getElementById('pincode_text');
		pincode_text.style.visibility = "visible";

		var aut_pincode = document.getElementById('aut_pincode');
		aut_pincode.style.visibility = "visible";


	}

	function autPincode(){


		var pincode_text = document.getElementById('pincode_text').value;
		var purchase_id = '{{last_activity.7}}';

		$.ajax({
			type: "POST",
			url:"/aut_pincode/",



			data: { 'csrfmiddlewaretoken': '{{csrf_token}}', 'pincode':pincode_text, 'purchase_id':purchase_id}, 
			dataType: 'json',
			async: false,
			success : function(data) {

				if (data.msg == "Pincode correct!"){

					alert("Pincode correct!");

					document.getElementById('status').innerHTML = "done";
					console.log("danny" + '{{last_activity}}');
					document.getElementById('pincode').innerHTML = pincode_text;


					var cancle_button = document.getElementById('cancel_button');
					cancle_button.style.visibility = "hidden";



			



				} else {
					alert(data.msg);
				}

			},
			error : function(data) {
				alert("fail");
			}			

	
		} );



	}
	

    var user_rating = '{{request.user.profile.rating}}';
    console.log(user_rating);
    for(var i=1; i<=user_rating; i++){
        console.log(i);
        document.getElementById("star"+i).classList.add('checked');


    }


</script>


	</body>
</html>
