.all_site{
    position: absolute;
    width: 100%;
    height: 100%;
       background-color:rgb(2, 2, 2);
    margin: auto;

}

header {
    height: 8%;
    float: left;
    width:100%;
    background:#070000;
}
.cover{
    position: relative;
    width: 100%;
    height: 90%;
    background-image:url("../_images/busy_street2.jpg");
    background-size: cover;

}


/*////////////////no idea what for///////////////////*/


::-webkit-input-placeholder{
    color: rgba(255,255,255,0.6);
    }
    
    ::-moz-input-placeholder{
    color: rgba(255,255,255,0.6);
    }
/*////////////////no idea what for///////////////////*/


.buttons {
    z-index: 2;
    position: absolute;
    margin-top: 10%;
    left:10%;
    margin-right: 10%;
    width: 18em;  height: 7em;
/* background-color:black;*/
/* color:rgb(20, 2, 2);   */
}


 
.main{
    position: relative;

    width: 30%;
    float: left;
    margin-top: -3%;
    margin-left: 30%;

}

.main .box_txt{
margin-top: 0%;
color: #fff;
font-family: 'Exo', sans-serif;
font-size: 25px;
text-align: center;
-webkit-text-stroke-width: 1.5px;
-webkit-text-stroke-color: black;

}

.main .box_txt span{
    color: #af0202 !important; 
}


.cover .table {
    position: relative;
	width:95%;
	margin-right: 0%;
	margin-left: 2.5%;
    margin-top: 15%;
    top:5%;
}



.grad{
position: absolute;
top: -20px;
left: -20px;
right: -40px;
bottom: -40px;
width: auto;
height: auto;
/* background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); Chrome,Safari4+ */
z-index: 1;
opacity: 0.7;
}
/* 
.header{
position: absolute;
top: calc(50% - 35px);
left: calc(50% - 255px);
z-index: 2;
}
 */


/* } */
